<style>
    .ul-me {
        list-style-type: none;
        padding-left:5px;
        margin-left:1px;
    }

        .ul-me li span {
            color: #ffffff;
        }
        .me-h5{
            margin-left:5px; 
            color:#f3d907; 
            font-weight:bold; 
            font-size:15px;
            text-underline-position:below;
            text-decoration-line:underline;
        }
</style>

<hr />
<div class="row">
    <div class="col-md-3">
        <h5 class="me-h5">ND Programmes</h5>
        <ul class="ul-me">

            <li><a href='@Url.Action("InfoView","Home",new { view = "English and Literary" })'><span style="color:#ffffff">Computer Science</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Christian Religious Studies" })'><span>Computer Engineering</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Christian Religious Studies" })'><span>Electrical/Electronics Engineering</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Christian Religious Studies" })'><span>Public Administration</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Christian Religious Studies" })'><span>Science Laboratory Technology</span></a></li>
        </ul>
    </div>
    <div class="col-md-3" style="padding:0px;">
        <h5 class="me-h5">Entrepreneurship Certificate Programmes</h5>
        <ul class="ul-me">

            <li><a href='@Url.Action("InfoView","Home",new { view = "Accounting" })'><span style="color:#ffffff">Microsoft Imagine Academy</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Business Administration" })'><span>Information Communication Technology</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Marketting" })'><span>Health Safety Environment</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Catering and Hotel Management</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Film Making</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Agriculture Training Programme</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Building and Facility Management</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Fashion and Design</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Shoe Making</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Cosmetology and Soap Making</span></a></li>
            <li><a href='@Url.Action("InfoView","Home",new { view = "Public Administration" })'><span>Entrepreneurship and Leadership Training</span></a></li>
             

        </ul>
    </div>
 </div>

<div class="row">
    <hr />
    <p style="text-align:right;">copy; @DateTime.Now.Year - JetKing University College, </p>
  
</div>
<hr/>
