<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - KS Acada Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="id" style="width:auto;margin-left:auto;margin-right:auto;margin-top:0px; 
overflow:hidden;">
        
            <div class="report-header">
                @if (UserData.Logo != null)
                {
                    var base64 = Convert.ToBase64String(UserData.Logo);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                    <img src='@imgSrc' style="width:100px; height:100px;" />

                }

                <br /><b style="font-family:'Arial Rounded MT';font-size:20px;font-weight:bold">
                @UserData.InstitutionName.<br/>(@UserData.AffiliateInfo)</b>
                <br/><a style ="font-family:'Arial Rounded MT';font-size:14px;font-weight:bold">@UserData.Address</a> 
            </div>
            
        
        
        <div class="container" style="clear:both">
            @RenderBody()
        </div>

    </div>
    
</body>
</html>
