<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Eduplos</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    
    <div class="wrapper">
        
            <div class="report-header">
                @if (UserData.Logo != null)
                {
                    var base64 = Convert.ToBase64String(UserData.Logo);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                    <img src='@imgSrc' style="width:100px; height:100px;" />

                }
                
                <br /><b style="font-family:'Arial Rounded MT';font-size:25px;font-weight:bold">
                @UserData.InstitutionName  </b> 
            </div>
            
        
        
        <div class="report-body">
            @RenderBody()
        </div>
        
    </div>
    <div class="page-breaker"></div>
</body>
</html>
