<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Eduplos</title>
    @model Eduplos.DTO.AcademicModule.ProbationDTO
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{Layout = null;}
</head>
<body>
    <style type="text/css">
        .breakhere {
            page-break-after: always;
        }
    </style>

    @if (Model == null)
    {
        <h2>Oops!record does not exist</h2>
    }
    else
    {
       
            <div id="A" style="page-break-after:always; width:850px; height:auto; margin-left:auto;margin-right:auto;margin-top:10px;">
                <div class="report-header">
                    @if (UserData.Logo != null)
                {
                    var base64 = Convert.ToBase64String(UserData.Logo);
                    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                        <img src='@imgSrc' style="width:100px; height:100px;" />

                    }
                    <br /><b style="font-family:'Arial Rounded MT';font-size:25px;font-weight:bold">
                        @UserData.InstitutionName
                    </b>
                </div>
                <div class="hold-holders">
                    <h3 style="border-bottom-width:1px; border-bottom:solid">Students' Graduation List</h3>
                    <div class="title-holderS1">
                        <table class="table table-condensed">
                            <tr>
                                <td class="col-md-4">Department:</td>
                                <td>@Html.DisplayFor(m => m.Department, new { @class = "form-control" })</td>
                            </tr>
                            <tr>
                                <td class="col-md-4">Programme:</td>
                                <td>@Html.DisplayFor(m => m.Programme, new { @class = "form-control" })</td>
                            </tr>
                            
                        </table>
                    </div>

                    <div class="title-holderS2">
                        <table class="table" border="0">
                            <tr>
                                <td width=50px>Session:</td>
                                <td>@Html.DisplayFor(m => m.Session, new { @class = "form-control" })</td>
                            </tr>
                            
                        </table>
                    </div>
                    <hr />
                </div>
                <div id="Input" style="width:650px; margin-left:50px; clear:both;">
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>MatricNumber</th>
                                <th>Name</th>
                                <th>CGPA</th>
                                <th>Class of Degree</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var resul in Model.Details)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(r => resul.Count, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(r => resul.MatricNumber, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(r => resul.Name, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(r => resul.CGPA, new { @class = "form-control" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(r => resul.Qualification, new { @class = "form-control" })
                                    </td>
                                    
                                </tr>

                            }

                        </tbody>
                        
                    </table>
                </div>
                <div class="auth" style="width:700px;  overflow:hidden; margin-top:30px;">
                    <div id="hd" style="width:200px;float:left;">
                        <a>---------------------------------------<br />H.O.D</a>
                    </div>

                    <div id="hd" style="width:200px; margin-left:220px">
                        <a>----------------------------------------<br />Exams Officer</a>
                    </div>
                    <div id="hd" style="width:200px; float:right; margin-right:2px; margin-top:-40px;">
                        <a>----------------------------------------<br />Dean of College/Faculty</a>
                    </div>
                </div>
            </div>
        }
</body>
</html>




