@model Eduplus.DTO.BursaryModule.BankITDTO
@{
    ViewBag.Title = "PaymentSimulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentSimulation</h2>
<h4>@Html.DisplayFor(a => a.TransactionId)</h4>
<h4>@Html.DisplayFor(a => a.TerminalID)</h4>
<h4>@Html.DisplayFor(a => a.SecretKey)</h4>
<h4>@Html.DisplayFor(a => a.Amount)</h4>
<h4>@Html.DisplayFor(a => a.Description)</h4>
<h4>@Html.DisplayFor(a => a.ResponseUrl)</h4>
<h4>@Html.DisplayFor(a => a.LogoUrl)</h4>
<h4>@Html.DisplayFor(a => a.Checksum)</h4>


