@model Eduplus.DTO.AcademicModule.StudentAcademicProfileDTO
@{
    ViewBag.Title = "Course Registration";
    Layout = "~/Views/Shared/_A4ReportLayout.cshtml";

}
<style>
    body {
        color: #000000;
    }
</style>
<div>
    <div id="browser-only">
        <input type="button" onclick="printPage()" class="btn btn-info" value="Print">||<input type="button" onclick="window.location.href='/Payments/MyInvoices'" class="btn btn-danger" value="Close" />
    </div>

    <div class="hold-holders" style="font-size:14px; ">
        <h4 style="border-bottom-width:1px; border-bottom:solid">Course Registration Form</h4>
        <div class="title-holderS1" style="width:350px">
            <table class="table table-sm" style="color:#000000;border-style:none">
                <tr>
                    <td width=50px>RegNo:</td>
                    <td>
                        @Html.DisplayFor(model => model.MatricNumber, new { @class = "form-control" })

                    </td>
                </tr>
                <tr>
                    <td width=50px>Level:</td>
                    <td>@Html.DisplayFor(model => model.Level, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td width=50px>Name:</td>
                    <td>@Html.DisplayFor(model => model.Name, new { @class = "form-control" })</td>
                </tr>

            </table>
        </div>

        <div id="chk1" style="width:120px;overflow:hidden;margin-right:-1px; background-color:aqua">

            @if (Model.Photo != null)
            {
                var base64 = Convert.ToBase64String(Model.Photo);
                var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />

            }

        </div>



        <div class="title-holderS2" style="margin-top:0px;">
            <table class="table table-sm" border="0" style="color:#000000;">
                <tr>
                    <td width=50px>Session:</td>
                    <td>@Html.DisplayFor(model => model.Session, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td width=50px>Session:</td>
                    <td>@Html.DisplayFor(model => model.Semester, new { @class = "form-control" })</td>
                </tr>

                <tr>
                    <td width=50px>Department:</td>
                    <td>@Html.DisplayFor(model => model.Department, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td width=50px>Programme:</td>
                    <td>@Html.DisplayFor(model => model.Programme, new { @class = "form-control" })</td>
                </tr>
                <tr>
                    <td width=50px>Programme Type:</td>
                    <td>@Html.DisplayFor(model => model.ProgrammeType, new { @class = "form-control" })</td>
                </tr>
            </table>

        </div>

    </div>
    <div id="Input" style="width:800px; margin-left:50px; clear:both; color:black">
        <table class="table table-bordered table-sm">
            <thead>
                <tr> 
                    <th style="border:1px solid black; color:black">S/N</th>
                    <th style="border:1px solid black">Course Code</th>
                    <th>Title</th>
                    <th>Unit</th>
                    <th>Type</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var resul in Model.Results)
                {
                    <tr>
                        <td align="center" style="border:1px solid black; color:black"> @( ((Int32)1) + Model.Results.ToList().IndexOf(resul) ) </td>
                        <td style="border:1px solid black; color:black">
                            @Html.DisplayFor(model => resul.CourseCode, new { @class = "form-control" })
                        </td>
                        <td style="border:1px solid black; color:black">
                            @Html.DisplayFor(model => resul.CourseTitle, new { @class = "form-control" })
                        </td>
                        <td style="border:1px solid black; color:black">
                            @Html.DisplayFor(model => resul.CreditHour, new { @class = "form-control" })
                        </td>
                        <td style="border:1px solid black; color:black">
                            @Html.DisplayFor(model => resul.Type, new { @class = "form-control" })
                        </td>
                    </tr>

                }


            </tbody>
            <tr><td></td><td style="border:1px solid black; color:black">Total: </td><td></td><td style="border:1px solid black; color:black">@Html.DisplayFor(model => model.TotalCreditUnit)</td></tr>

        </table>

    </div>

    <div class="row">
        <div class="dlf" style="float:left;width:150px;text-align:justify;margin-top:50px;">
            <strong>HOD</strong><br />
            Sign-----------------<br />Date---------------<br />
        </div>
        <div class="dlf1" style="width:150px;margin-left:150px; text-align:justify;margin-top:50px;">
            <strong>Exams Officeer</strong><br />
            Sign-----------------<br />Date----------------<br />
        </div>
        <div class="dlf2" style="float:right;width:150px; margin-left:20px;text-align:justify;margin-top:50px;">
            <strong>Dean</strong><br />
            Sign-----------------<br />Date----------------<br />
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function printPage() {
        var print = document.getElementById("browser-only");
        //Set the print button visibility to 'hidden'
        print.style.visibility = 'hidden';
        //Print the page content
        window.print()
        //Set the print button to 'visible' again
        //[Delete this line if you want it to stay hidden after printing]
        print.style.visibility = 'visible';
    }
</script>


