<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @model Eduplos.Web.ViewModels.LoginModel
    @{Layout = null; }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Eduplos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">

        
        <div id="hj" style="background-color:#119d43; height:20px;">
        </div>
        <div id="hkj" style="background-color:#0e983b;height:25px;">
        </div>



        <div class="row">
            <div class="col-md-4">
                <p style="width:100%; text-align:justify; display:block">
                   
                </p>
            </div>

            <div class="col-md-4">
                
                    @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group glyphicon-user">
                            <input  type="password" name="oldPassword" id="oldPassword" placeholder="Enter old password" class="form-control"/>
                        </div>

                        <div class="form-group glyphicon-user">
                            <input type="password" name="newPassword" id="newPassword" placeholder="Enter new password" class="form-control" />
                        </div>

                        <div class="form-group glyphicon-user">
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password" class="form-control" />
                        </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block" value="Change" />
                            </div>
                            <div class="form-group">
                                 
                            </div>
                    }
              
            </div>
            <div class="col-md-4"></div>
        </div>

       

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/knockout")
                <script src="~/Scripts/ViewModels/changePassword.js"></script>
    </div>
</body>
</html>
