<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @model Eduplos.Web.ViewModels.LoginModel
    @{Layout = null; }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Eduplos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container-fluid">

        
        <div id="hj" style="background-color:#119d43; height:20px;">
        </div>
        <div id="hkj" style="background-color:#0e983b;height:25px;">
        </div>



        <div class="row">
            <div class="col-md-4">
                <p style="width:100%; text-align:justify; display:block">
                   
                </p>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <span>Click on the Generate OTP button to send the verification code to <a data-bind="text:dpMail"></a></span>
                </div>
                <div class="form-group">
                    <button data-bind="click:generateOtp" class="btn btn-success btn-block">Generate Token</button>
                    <img src="~/Content/images/wait26.gif" data-bind="visible:busy"/>
                </div>
                <div class="form-group glyphicon-user">
                    <input type="text" data-bind="value:otp,visible:showOtp" placeholder="Enter 6 digits token" class="form-control" id="otp" name="otp" />
                </div>

                <div class="form-group glyphicon-user">
                    <input type="password" data-bind="value:newPassword,visible:showOtp" name="newPassword" id="newPassword" placeholder="Enter new password" class="form-control" />
                </div>

                <div class="form-group glyphicon-user">
                    <input type="password" data-bind="value:confirmPassword,visible:showOtp" placeholder="Confirm password" class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" data-bind="click:changePassword,visible:showOtp" class="btn btn-success btn-block">Submit</button>
                </div>
                <div class="form-group">

                </div>

            </div>
            <div class="col-md-4"></div>
        </div>

       

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/knockout")
                <script src="~/Scripts/ViewModels/userPasswordResetVM.js"></script>
    </div>
</body>
</html>
